.filme-info{
    margin: auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding: 0;
}
.filme-info h1{
    margin: 14px 0;
    display: block;
}
.filme-info img{
    width: 800px;
    max-width: 100%;
    border-radius: 8px;

    max-height: 340px;
    object-fit: cover;
}
.filme-info h3{
    margin-top: 14px;
}
.area-buttons button{
    margin-right: 12px;
    margin-top: 14px;
    cursor: pointer;
    transition: 1s;
    margin-left: 0;
    outline: none;
    padding: 12px;
    border: 0;
}
.area-buttons button:hover{
    background-color: brown;
    color: #fff;
}
.area-buttons a{
    text-decoration: none;
    color: #000;
    transition: 1s;
}

.area-buttons a:hover{
    background-color: brown;
    color: #fff;
}